body {
  background: linear-gradient(0deg,rgba(217, 217, 217, 1) 0%, rgba(29, 96, 150, 1) 50%, rgba(11, 32, 89, 1) 100%);
  background-attachment: fixed
}

header {
  background: linear-gradient(0deg,rgba(217, 217, 217, 1) 0%, rgba(29, 96, 150, 1) 50%, rgba(11, 32, 89, 1) 100%);
  background-attachment: fixed
}

.file-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.image-upload:hover {
  cursor: pointer;
}

.border-subtle {
  border: 1px solid #272727;
  border-radius: 4px;
}

.border-bottom-subtle {
  border-bottom: 1px solid #4b4b4b;
  border-radius: 4px;
}

#post-text {
  height: 200px;
}

#loader {
  width: 33.3%;
  height: 40px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

textarea {
  resize: none;
}

#loader:before,
#loader:after{
  content: "";
  position: absolute;
  top: 4px;
  left: -40px;
  width: 36px;
  height: 20px;
  --c: radial-gradient(farthest-side,#fff 96%,#0000);
  background: 
    var(--c) 100% 100% /30% 60%, 
    var(--c) 70% 0 /50% 100%, 
    var(--c) 0 100% /36% 68%, 
    var(--c) 27% 18% /26% 40%,
    linear-gradient(#fff 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  animation: l10 2s linear infinite;
}
#loader:after {
   top:15px;
   --l:200%;
}
@keyframes l10{
  100% {left:var(--l,105%)}
}

.object-cover {
  object-fit: cover;
}

#post-create-form {
  display: none;
}

#user-data {
  display: none;
}

#profile-picture-div {
  display: none;
}

li a {
  text-decoration: none;
  color: white;
}

#posts-selector {
  top: 200px;
}

.bg-dark-blue {
  background-color: rgb(95, 82, 214);
  background:  linear-gradient(-45deg, rgba(102, 100, 100, 1) 0%, rgba(24, 24, 26, 1) 59%, rgba(15, 15, 38, 1) 100%);
}

.bg-transparent-gray {
  background-color: rgba(53, 52, 52, 0.500);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}